.syntax--source.syntax--elixir {
  .syntax--variable.syntax--other.syntax--readwrite {
    &.syntax--module {
      color: @syntax-color-annotation;
    }

    &.syntax--constant {
      color: @syntax-color-class;
    }
  }

  .syntax--punctuation.syntax--definition.syntax--variable {
    color: @syntax-color-annotation;
  }
}
