.syntax--source.syntax--gfm {
  .syntax--comment.syntax--hr {
    color: @toothGrey;
  }

  .syntax--link .syntax--entity {
    color: @dankGreen;
  }

  .syntax--punctuation.syntax--definition {
    color: @toothGrey;
  }

  .syntax--variable.syntax--unordered.syntax--list {
    color: @toothGrey;
  }

  .syntax--support {
    color: @tooCoolTealDark;
  }
}
