.syntax--source.syntax--haskell {
  .syntax--entity.syntax--name.syntax--function.syntax--infix {
    color: @dankGreen;
  }

  .syntax--identifier {
    color: @neonRed;
  }

  .syntax--meta.syntax--preprocessor {
    color: @vicePurple;
  }

  .syntax--punctuation.syntax--definition.syntax--directive {
    color: @dankGreen;
  }

  .syntax--support.syntax--other.syntax--module {
    color: @neonRed;
  }
}
