.syntax--source.syntax--python {
  .syntax--variable.syntax--parameter {
    color: @neonRed;
  }

  .syntax--meta.syntax--function-call {
    color: @dankGreen;

    &.syntax--arguments {
      color: @neonRed;
    }
  }
}
