.syntax--source.syntax--ruby {
  .syntax--constant.syntax--other.syntax--symbol > .syntax--punctuation {
    color: @dankGreen;
  }

  .syntax--variable.syntax--other.syntax--constant {
    color: @neonRed;
  }

  .syntax--punctuation.syntax--definition.syntax--variable {
    color: @dankGreen;
  }
}
