@deepdark: #191b2a;
@shallowdark: #1d1f30;
@deepblue: #2a2d46;
@shallowblue: #3c4367;
@dankblue: #4f5987;
@gunmetal: #656fa4;
@sharkblue: #858db7;
@oceanblue: #a5abca;
@toothgrey: #eff0f6;

@red: #ff476e;
@darkred: #ac3756;
@dankgreen: #39ffba;
@yellow: #ffee7a;
@lightblue: #94bfff;
@blue: #7496cc;
@green: #2dad86;
@light-orange: #ffca7a;
@pink: #f1b3f1;
@purple: #a37ca9;
@cyan: #01f7f7;
@turquoise: #01a8ad;
