@import "dankneon";

@syntax-transition-time: 400ms;

@syntax-theme-name: dankneon-atom-syntax;

@syntax-background-color: @deepDark;
@syntax-cursor-line: @deepBlue;
@syntax-selection-color: @shallowBlue;
@syntax-selection-flash-color: @shallowBlue;
@syntax-text-color: @toothGrey;

@syntax-cursor-color: @syntax-text-color;
@syntax-indent-guide-color: @shallowBlue;
@syntax-invisible-character-color: @deepBlue;
@syntax-wrap-guide-color: @deepBlue;

@syntax-color-added: @dankGreen;
@syntax-color-modified: @sunnyYellow;
@syntax-color-removed: @neonRed;
@syntax-color-renamed: @miamiSky;

@syntax-gutter-background-color: @deepDark;
@syntax-gutter-background-color-selected: @deepBlue;
@syntax-gutter-icon-color-folded: @oceanBlue;
@syntax-gutter-text-color: @syntax-gutter-text-color-subtle;
@syntax-gutter-text-color-selected: @gunMetal;
@syntax-gutter-text-color-subtle: fade(@syntax-text-color, 40%);


@syntax-bracket-matcher-color: @dankGreen;
@syntax-result-marker-color: fade(@dankBlue, 30%);
@syntax-result-marker-color-selected: @dankBlue;

@syntax-border-radius: 4px;

@theme-setting-accessibility-custom-comment-contrast: 0%;
